.emailer(
  ng-attr-title="{{emailer.email}}"
  profile-popover-card="{source: 'emailer', property: 'objectType'}"
  profile-popover-card-alternative-title="{{ emailer.email }}"
  profile-popover-card-placement="right"
  profile-popover-card-hide-on-element-scroll="body"
  profile-popover-card-show-mobile
)
  span(ng-class="{ 'bold': isUnread }", ng-bind-html="emailer.name | esnHighlight: highlight") {{ emailer.name }}
  span.me(ng-if="me") ({{ 'me' | translate }})
  span.hidden-xs.email(ng-if="!hideEmail && emailer.email")
    | <
    a(op-inbox-compose, ng-href="mailto:{{ emailer.email }}")
      span(ng-bind-html="emailer.email | esnHighlight: highlight") {{ emailer.email }}
    | >
