sub-header
  inbox-identities-subheader

.text-center.m-t-20(
  ng-if="$ctrl.status === 'loading'"
  openpaas-logo-spinner
  spinner-start-active='1'
  spinner-size='0.5'
)
.inbox-identitites-error(ng-if="$ctrl.status === 'error'")
  i.mdi.mdi-alert-circle
  .message {{ 'A problem occurred while getting data, try refreshing this page!' | translate }}

.inbox-identities(ng-if="$ctrl.status === 'loaded'")
  inbox-identity(
    ng-repeat="identity in $ctrl.identities track by identity.uuid",
    identity="identity",
    can-edit="$ctrl.canEdit",
    user="$ctrl.user"
  )

fab(
  ng-if="$ctrl.canEdit",
  ng-click="$ctrl.openCreateForm()"
)
