ng-form(name="form")
  .text-center(
    ng-if="$ctrl.status === 'loading'"
    openpaas-logo-spinner
    spinner-start-active='1'
    spinner-size='0.5'
  )
  .text-center(
    ng-if="$ctrl.status === 'error'"
  ) {{ 'Can not open identity form' | translate }}
  div(ng-if="$ctrl.status === 'loaded'")
    .form-group(ng-if="!$ctrl.initiallyDefaultIdentity")
      .fg-line.nopadding
        .checkbox
          label
            input(type="checkbox", ng-model="$ctrl.identity.default")
            i.input-helper
            span {{ 'Default identity' | translate }}
    esn-form-group(label="{{ 'Description' | translate }}")
      input.form-control(type="text", required, auto-focus, ng-model="$ctrl.identity.description", name="description")
    esn-form-group(label="{{ 'Name' | translate }}")
      input.form-control(type="text", required, ng-model="$ctrl.identity.name", name="name")
    esn-form-group(label="{{ 'Email' | translate }}")
      .fg-line.select
        select.form-control.multi-input-type(ng-model="$ctrl.identity.email")
          option(ng-value="email" ng-repeat="email in $ctrl.validEmails")
            | {{ email }}
    esn-form-group(label="{{ 'Reply to address' | translate }}")
      .fg-line.select
        select.form-control.multi-input-type(ng-model="$ctrl.selectedReplyToEmail", ng-change="$ctrl.onReplyToChange()")
          option(ng-value="email", ng-repeat="email in $ctrl.validReplyToEmails")
            | {{ email }}
    .form-group.inbox-identity-form-signature.fg-line(ng-class="{'fg-toggled': $ctrl.isSummernoteFocused}")
      label.fg-label
        | {{ 'Signature' | translate }}
      .esn-summernote
        summernote.compose-body(
          ng-model="$ctrl.identity.htmlSignature",
          config="$ctrl.summernoteOptions",
          on-focus="$ctrl.onFocus()",
          on-blur="$ctrl.onBlur()"
        )
    esn-form-group.inbox-identity-form-signature-mobile(
      label="{{ 'Mobile signature' | translate }}",
      helper="{{ 'Mobile signature will be used on mobile version of OpenPaaS. It can only be textual.' | translate }}"
    )
      textarea.form-control(auto-focus="false", auto-size-dynamic="true", ng-model="$ctrl.identity.textSignature", name="textSignature")
