.james-domain-alias-form
  h5 {{ 'Add domain alias' | translate }}
  form(name='form')
    .row
      .text-center(
        ng-if="$ctrl.status === $ctrl.status.loading",
        openpaas-logo-spinner,
        spinner-start-active='1',
        spinner-size='0.5'
      )

      .col-xs-12(ng-if="$ctrl.status === 'loaded'")
        .row(ng-if="$ctrl.availableAliases.length")
          .col-xs-10
            ui-select(
              ng-model="$ctrl.alias",
              close-on-select="true",
              required
            )
              ui-select-match(placeholder="{{ 'Search for an alias' | translate }}")
                span(ng-bind="$select.selected")
              ui-select-choices(
                repeat="item in ($ctrl.availableAliases | filter: $select.search) track by item",
                ui-disable-choice="$ctrl.isAddedAlias(item)"
              )
                span(ng-bind="item")
          .col-xs-2.text-center
            button.btn.btn-primary.btn-sm.waves-effect(
              ng-disabled="!$ctrl.alias || form.$invalid",
              ng-click="$ctrl.onAddBtnClick()"
            ) {{ 'Add' | translate }}
        p(ng-if="!$ctrl.availableAliases.length") {{ 'No existing alias to add' | translate }}
      .message(ng-if="$ctrl.status === $ctrl.status.error") {{ 'An error occurred while listing aliases to add, please try again!' | translate }}