sub-header
  inbox-forwardings-subheader(forwardings="$ctrl.forwardings", on-save="$ctrl.onSave()")

inbox-forwardings-form(
  ng-if='$ctrl.forwardings',
  forwardings="$ctrl.forwardings",
  user="$ctrl.user")


.text-center(
  openpaas-logo-spinner,
  spinner-start-active="1",
  spinner-size="0.5",
  ng-if='$ctrl.status === "loading"'
)

.forwarding-error(ng-if='$ctrl.status === "error"')
  .no-forwarding
    i.mdi.mdi-alert-circle-outline
    .text-muted {{ 'Error while loading forwarding settings!' | translate }}